body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #222;
  padding: 5px;
  color: bisque;
  overflow-x: hidden;
}

#contentConteiner {
  display: flex;
  align-items: flex-start;
  height: 90%;
  width: 100%;
  position: absolute;
}

#videoConteiner {
  width: 68%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
}

#chatConteiner {
  width: 28%;
  height: 85%;
  background-color: #fff;
  color: #222;
  position: relative;
  right: 0;
}

#localVideoContainer {
  position: absolute;
  bottom: 50px;
  right: 50px;
  max-width: 10%;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
}

#remoteVideoContainer {
  height: 100%;
  border: 3px solid #333;
  border-radius: 5px;
}

#roomName {
  height: 10%;
  width: 100%;
  font-size: large;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#messageInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0px;
}

#messageInput {
  width: 68%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
}

#sendMessage {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#sendMessage:hover {
  background-color: #0056b3;
}

#adminOptions {
  background-color: #5a2d2d15;
  color: #fff;
  padding: 10px;
  height: 50vh;
}

#chatContainer {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

#chatBottom {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#chatBox {
  flex-grow: 1;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

#userDropdown {
  width: 20%; /* Ширина выпадающего списка */
  padding: 10px;
  font-size: 16px;
  margin-bottom: 5px;
  box-sizing: border-box;
}


/* CSS для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}