body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #222;
  padding: 5px;
  color: bisque;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#chatBox {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

#videoConteiner {
  width: 100%; /* Добавьте ширину контейнера для корректного позиционирования */
  height: 99%; /* Удалите фиксированную высоту для адаптивности */

  display: flex; /* Добавьте flex-контейнер для выравнивания по центру */
  justify-content: center; /* Выравнивание по горизонтали */
  align-items: center; /* Выравнивание по вертикали */
  position: relative; /* Позиционируем видео относительно контейнера "contentConteiner" */
}

#allContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
}

#imgVideo {
  width: 100%;
  max-height: 100%;
  padding: 0px;
}

#localVideoContainer {
  position: absolute;
  bottom: 50px;
  right: 50px;
  max-width: 250px;
  width: 25%;
  height: auto;
  border: 2px solid white;
  border-radius: 5px;
}

#remoteVideoContainer {
  height: 99%;
  align-items: center;
}

#roomName {
  width: 100%;
  font-size: large;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  padding: 0px;
}
