body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #222;
  padding: 5px;
  color: bisque;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#chatBox {
  flex:1;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contentConteiner {
  display: flex; /* Используем flex-контейнер для размещения чата и видео */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  flex:1;
  width: 100%;  
}

#videoConteiner {
  width: 68%; /* Используем 68% для видео-контейнера */
  height: 99%;
  display: flex;
 
  justify-content: center;
  align-items: center;
  position: relative; /* Позиционируем видео относительно контейнера "contentConteiner" */
  left: 0; /* Размещаем видео слева */
}

#allContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
}

#chatConteiner {
  flex:1;
  display: flex;
  flex-direction: column;
  height: 99%;
  background-color: #ddd;
  color: #112;
  vertical-align: bottom;
  position: relative; /* Позиционируем чат относительно контейнера "contentConteiner" */
  right: 0; /* Размещаем чат справа */
}

#localVideoContainer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 20%;
  max-width: 200px;
  height: auto;
  border: 5px solid white;
  border-radius: 5px;
}

#remoteVideoContainer {
  height: 100%;
  
  align-items: center;
  display: flex;
}

#roomName {
  
  width: 100%;
  font-size: large;
  text-align: center;
}

video {
  width: 100%;
  height: 100%;
  padding: 0px;
}

#imgVideo {
  width: 100%;
  max-height: 100%;
  padding: 0px;
}

#messageInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  margin-top: 0px;
}

#messageInput {
  
  padding: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin: 1px;
}

#sendMessage {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#sendMessage:hover {
  background-color: #0056b3;
}


